<form [formGroup]="formValid">
    <label>Email</label>
    <input
      type="text"
      pattern=".+@.+"
      name="email"
      required
      placeholder="email address"
      formControlName="email" >
  <br/><br/>
    <label>Password</label>
    <input
      type="password"
      name="password"
      minlength="8"
      required
      placeholder="secret password"
      formControlName="password">
  <br/><br/>
  <button
    (click)="sendCredentials()"
    [disabled]="formValid.invalid">
    {{submitLabel}}
  </button>
</form>

