<p>user-credentials-component works!</p>

<form *ngIf="userForm" #formElement="ngForm">

  <label>
    Login
    <input type="text"
           pattern=".+@.+"
           name="email"
           required
           placeholder="email address"
           [(ngModel)]="user.email">
  </label>


  <label>
    Password
    <input type="password"
           name="password"
           minlength="8"
           required
           placeholder="secret password"
           [(ngModel)]="user.password">
  </label>



  <button (click)="sendCredentials()"
          [disabled]="userForm.invalid">
    {{ submitLabel }}
  </button>

</form>

